@media screen and (max-width:600px) {



    
    .lt-nav {
        width: 50px;
    }

  
    .lt-nav div.playlist-title, .playlist li, .playlist-scroll ,.btn-nav span , hr , div.home span{
        display: none;
        padding: 0%;
    }

    .lt-nav div.btn-nav , .lt-nav div.home > li {
        padding: 0%;
        margin: 0%;
    }

    .lt-nav .logo img:first-child {
        display: none;
    }

    .lt-nav .logo img:last-child {
        display: block;
        padding: 5px;
    }

    


    #head-button {
        position: static;
        width: 600px;
    }


    main {
        padding-left: 50px;
        width: 80%;
    }

}


@media screen and (max-height:500px) {

    .lt-nav div.btn-nav {
        display: none;
    }
    
}
