*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

div.head {
    position: fixed;
    width: calc(100% - 20vh);
    left: 20vh;
    height: 60px;
    background-color: grey;
}



 .head button#upgrade {
     float: right;
     padding: 5px;
 }


 
.lt-nav {
    position: fixed;
    height: calc(100% - 80px);
    width: 20vh;
    background-color: red;
    z-index: 1;
}

main {
    display: flex;
    position: relative;
    top: 60px;
    left: 20vh;
    flex-flow: column wrap;
    background-color: yellow;
}


#top-nav {
    background-color: darkorange;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

#top-nav ul {
    display: flex;
    flex-flow:  row wrap;
    background-color: crimson;
    justify-content: space-around;
}


#top-nav li {
    list-style-type: none;
   padding: 30px; 
   z-index: 3;
}

/* navbar nel main  */

.navbar-center {
    padding: 20px;
    height: 10vh;
    width: 100%;
}

.navbar-center ul {
    text-decoration: none;
    list-style-type: none;
    height: 25vh;
    width: 25vh;
    margin-right: 30px;
    float: left;
}

.navbar-center ul > img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}


.navbar-center ul li {
    color: white;
    font-size: 20px;
    bottom: 0%;
}

.navbar-center ul li:last-child {
    font-size: 15px;
    color: grey;
}

/* last nav main */
ul.img-border > img {
    border-radius: 100px;
}

/* last nav main */

/* /navbar nel main  */


/* recently played */

.clearfix {
    content: "";
    display: table;
    clear: both;
}

 .recenlty-played {
    height: 10vh;
    width: 100%;
    background-color:blue;
}

.recenlty-played div{
  float: left;   
}

/* /recently played */



footer {
    position: fixed;
    width: 100%;
    height: 80px;
    background-color: grey;
    bottom: 0%;
    z-index: 2;
}